<div class="row center">
    <div class="col s12 l6 offset-l6">
      <div class = "iris">
        <div class="container navigation ">
          <ul class="top-links breadcrumb">
             <li class="link-details breadcrumb-item" aria-current="page"><a routerLink="">Dashboard</a></li>
             <li class="link-details breadcrumb-item" aria-current="page"> <a routerLink="/layout/market"> Market </a></li>
            <li class="link-details breadcrumb-item" aria-current="page"> <a routerLink="/layout/market/services">Services</a></li>
             <li class="link-details breadcrumb-item" aria-current="page"><a routerLink="/layout/market/services/service-details">Service-details</a> </li>
             <li class="link-details breadcrumb-item" aria-current="page"><a routerLink="/layout/market/services/service-details">Service-details</a> </li>
          </ul>
          <ul class="share-button ">
              <a routerLink="" class=""><li class="link-details" > <i class="fas fa-share-alt right"></i>&nbsp;SHARE</li></a>
          </ul>
          <span></span>
        
        </div> 
      </div>
    </div>
  </div>  

  <div class="row container-flex">
    <div class="col-sm-3">
      <div class="card profile-box">
          <img src="../../../assets/4k-wallpaper-blur-chrome-1711392.jpg" class="profile-card-img" width="160px" height="160px">
        <div class="card-header">
          <span class="profile-name">Sanjay Tarani</span>
          <span class="profile-address">7bcry87t9c87tnrc3cr7ycn37tc...<i (click)="copyAddress()" class="far fa-copy" style="color:#3490ce;"></i></span>
        </div>
          <div class="card-content">
              <tr >
                  <td class="country-info">
                      <table  style="display:inline-block; display: inline-block;
                      float: left; padding-right: 30px;">
                              <tr>
                                  <td class="country-data-info">From</td> 
                              </tr>
                      </table>
                      <table style="display:inline-block; float: right; ">
                              <tr>
                                  <td >Australia</td>
                                  
                              </tr>
                          </table>
                      </td>
                      
                  </tr>

                  <tr >
                      <td class="country-info">
                          <table  style="display:inline-block; display: inline-block;
                          float: left; padding-right: 30px;">
                                  <tr>
                                      <td class="country-data-info">Email</td> 
                                  </tr>
                          </table>
                          <table style="display:inline-block; float: right; ">
                                  <tr>
                                      <td >sanjay@gmail.com</td>
                                      
                                  </tr>
                              </table>
                          </td>
                          
                      </tr>
                      <div class="clearfix"></div>
                      <div class="qr-code-section">
                          <img style="display: inline-block;" src="../../../assets/Qr-code.png" height="175px" width="175px" alt="">
                        </div>
                
          </div>

         
      </div>

    </div>

    <div class="col-sm-7">
        <div class="description-header">
            Description
         </div>
         <div class="description-content">
             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
   
            <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.  </p>
             
           <p> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
             
           <p> Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
             
             
         </div>
    </div>
  </div>