
  <div class="body-area">
    <div class="invite-section">
      <div class="header">
        <img src="../../../assets/icon_sad.png" class="header-img"alt="" width="70px" height="70px">
        <p class="main-text"> Sorry there!</p>
        <p class="body-text"><span class="user-email">{{user}}</span>&nbsp;is not registered on the Quixxi Platform.</p> 
        <p class="body-text">Please invite them to register on portal.quixxiconnect.com to receive their crypto email wallet and Ether funds.</p> 
      <button type="submit" class="invite-button">INVITE NOW</button>
      </div>
    </div>
  </div>
