<div class="container">
  <div class="banner ">
    <h1 class="banner-heading ">What’s New?
    </h1>
    <p class="banner-text "> This page lists the latest updates and release notes from every version of Quixxi Connect</p>


    <div class="search">
      <form class="search-bar">
        <input type="text" class="input-search" placeholder="Search for a question..." />
        <span> <a href=""><i class="fas fa-search"></i> </a> </span>
      </form>
    </div>

  </div>

  <!-- <div class="panel panel-default toggle-bar">
    <div class="panel-heading">
      <h4 class="panel-title ">
        <button class="collapsed btn btn-primary menu-button" type="button" data-toggle="collapse" href="#collapseCry">
          <i class="material-icons prefix">menu</i>
        </button>
      </h4>
    </div> -->

   <div class="clearfix">
      <div class="panel-body" data-tabbed-role="controls">
        <ul class="nav nav-tabs tabs-left sideways card">
          <li class=" link-tabs "><a class="active list-points" href="#announcements-v" data-toggle="tab">Announcements</a></li>
          <li class="link-tabs"><a class="list-points " href="#fixedIssues-v" data-toggle="tab">Fixed Issues </a></li>
          <li class="link-tabs"><a class="list-points " href="#newFeatures-v" data-toggle="tab">New Features</a></li>
          <li class="link-tabs"><a class="list-points " href="#releasedVersions-v" data-toggle="tab">Released Versions</a></li>
          <li class="link-tabs"><a class="list-points " href="#knownIssues-v" data-toggle="tab">Known Issues</a></li>
          <li class="link-tabs"><a class="list-points" href="#securityAudits-v" data-toggle="tab">Security Audits</a></li>
          <!-- <li class="link-tabs"><a class="list-points" href="#authoringGuidelines-v" data-toggle="tab">Authoring Guidelines</a></li> -->
          <li class="link-tabs"><a class="list-points" href="#reportingBug-v" data-toggle="tab">Reporting a Bug</a></li>
        </ul>
      </div>
    </div>
  

  <div class=" body-area">
    <div class="col-md-3 leftPanel ">
      <!-- required for floating -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs tabs-left sideways card">
        <li class="content-heading">On This Page</li>
        <hr>
        <li class=" link-tabs "><a class="active list-points" href="#announcements-v" data-toggle="tab">Announcements</a></li>
        <li class="link-tabs"><a class="list-points " href="#fixedIssues-v" data-toggle="tab">Fixed Issues </a></li>
        <li class="link-tabs"><a class="list-points " href="#newFeatures-v" data-toggle="tab">New Features</a></li>
        <li class="link-tabs"><a class="list-points " href="#releasedVersions-v" data-toggle="tab">Released Versions</a></li>
        <li class="link-tabs"><a class="list-points " href="#knownIssues-v" data-toggle="tab">Known Issues</a></li>
        <li class="link-tabs"><a class="list-points" href="#securityAudits-v" data-toggle="tab">Security Audits</a></li>
        <!-- <li class="link-tabs"><a class="list-points" href="#authoringGuidelines-v" data-toggle="tab">Authoring Guidelines</a></li> -->
        <li class="link-tabs"><a class="list-points" href="#reportingBug-v" data-toggle="tab">Reporting a Bug</a></li>

      </ul>
    </div>

    <div class="col-md-8">
      <!-- Tab panes -->
      <div class="tab-content rightPanel_resources">
        <div class="tab-pane active card" id="announcements-v">
          <span class="badge badge-light">31 January 2019</span>
          <ul>
            <li class="panel-question">What's on the platform</li>
            <li class="panel-answer"> <i class="fas fa-caret-right"></i>&emsp;Quixxi Connect is crypto platform which
              allows users to transfer Ethereum and other ERC20 tokens </li>
            <li class="panel-answer"> <i class="fas fa-caret-right"></i>&emsp;It also Allows users to send crypto using
              their Gmail addresses </li>
            <li class="panel-answer"> <i class="fas fa-caret-right"></i>&emsp;As soon as you sign up, we create your
              wallet and you can customize it according to your wish </li>
            <li class="panel-answer"> <i class="fas fa-caret-right"></i>&emsp;Dashboard allows you to keep a track of
              your wallet. It also displays the list of all the transactions.</li>
            <li class="panel-answer"> <i class="fas fa-caret-right"></i>&emsp;My Wallet shows the credit available in
              your wallet.</li>
            <li class="panel-answer"> <i class="fas fa-caret-right"></i>&emsp;Settings, allows users to create a backup
              of their private key and provides other services </li>
            <li class="panel-answer"> <i class="fas fa-caret-right"></i>&emsp;Search, allows users to search other
              users available on the platform </li>

          </ul>

        </div>

        <div class="tab-pane card" id="fixedIssues-v">
          <div class="panel-question card-header">Fixed Issues </div>
          <!-- <span class="badge badge-light">20 December 2018</span>  -->
          <p class="panel-answer card-body">No problems reported </p>

        </div>

        <div class="tab-pane card" id="newFeatures-v">
          <div class=" panel-question card-header">New Features </div>
          <p class="panel-answer card-body">Easily create your Ethereum Wallet linked to your Gmail address
            <br> Smart Payments can send crypto to a Gmail address
            <br> Marketplace - Can List Products and Services for sale and receive crypto
            <br>Send/Receive Crypto as a Gift 
          <br>Easily send crypto to someone who is not registered on the platform
        </p>
        </div>

        <div class="tab-pane card" id="releasedVersions-v">
          <div class="card-header panel-question">Released Versions </div>
          <div class="card-body">
            <p class="panel-answer">Version 1.0.0 <br>
              This is the first version of Quixxi Connect</p>

          </div>
        </div>

        <div class="tab-pane card" id="knownIssues-v">
          <div class="card-header panel-question">Known Issues </div>
          <p class="panel-answer card-body">As of Now the platform has no known Issues</p>


        </div>

        <div class="tab-pane card" id="securityAudits-v">
          
          <div class="panel-question card-header">Security Audits</div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <ul class="panel-answer">
                  <li>Version Name and Number</li>
                </ul>
              </div>
              <div class="col-6">
                  <ul class="panel-answer">
                    <li>Ophir & 1.0 Build 1.100.100</li>
                  </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <ul class="module-list-header">
                        <li>Module</li>
                        <li>
                          <ul class="sub-list-header">
                            <li class="sub-list-data">Login</li>
                            <li class="sub-list-data" >Google Drive</li>
                            <li class="sub-list-data">Wallet</li>
                            <li class="sub-list-data">Payments</li>
                            <li class="sub-list-data">Gift Token</li>
                          </ul>
                        </li>
                       
                      </ul>
                </div>

                <div class="col-6">
                    <ul class="module-list-header">
                        <li>Remarks</li>
                        <li>
                          <ul class="sub-list-header">
                            <li class="sub-list-data">Tested</li>
                            <li class="sub-list-data">Tested</li>
                            <li class="sub-list-data">Tested</li>
                            <li class="sub-list-data">Tested</li>
                            <li class="sub-list-data">Tested</li>
                          </ul>
                        </li>
                    </ul>
                  </div>
              </div>

          </div>


         
          </div>


        

        <!-- <div class="tab-pane" id="authoringGuidelines-v">
                  <p class="panel-question">   How do I send funds? </p>
                  <p class="panel-answer">     Users need to login 
                </div> -->

        <div class="tab-pane card" id="reportingBug-v">

          <p class="panel-question card-header">Reporting a bug</p>
          <p class="panel-answer card-body"> Users can easily report a bug to Quixxi Connect Team by using the link at
            the bottom
            right corner. <br> Users need to fill in their Name and email id, and provide their feedback to the us.
            <br> Users can also connect with us on our telegram chat support, Please click <a class="telegram-link" href="https://t.me/QuixxiChatSupport/" target="_blank">Here</a>
        </div>

      </div>
    </div>



  </div>


</div>
