<div class="container">
    <div class="banner ">
       <h1 class="banner-heading ">What’s New?
         </h1>
       <p class="banner-text "> This page lists the latest updates and release notes  from every version of Quixxi Connect</p>
        

        <div class="search">
            <form class="search-bar" >
                <input type="text" class="input-search" placeholder="Search for your question..."/>
               <span> <a href=""><i class="fas fa-search"></i> </a> </span>
            </form>
        </div>

    </div>

    <div  class=" body-area">
        <div class="col-md-3 leftPanel"> <!-- required for floating -->
          <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-left sideways">
              <li class="content-heading">On This Page</li>
            <li class=" link-tabs "><a class="active list-points"  href="#announcements-v" data-toggle="tab" >Announcements</a></li>
            <li class="link-tabs"><a class="list-points "  href="#fixedIssues-v" data-toggle="tab" >Fixed Issues </a></li>
            <li class="link-tabs"><a class="list-points " href="#newFeatures-v" data-toggle="tab" >New Features</a></li>
            <li class="link-tabs"><a class="list-points " href="#releasedVersions-v" data-toggle="tab">Released Versions</a></li>
            <li class="link-tabs"><a class="list-points " href="#knownIssues-v" data-toggle="tab">Known Issues</a></li>
            <li class="link-tabs"><a class="list-points" href="#securityAudits-v" data-toggle="tab">Security Audits</a></li>
            <!-- <li class="link-tabs"><a class="list-points" href="#authoringGuidelines-v" data-toggle="tab">Authoring Guidelines</a></li> -->
            <li class="link-tabs"><a class="list-points" href="#reportingBug-v" data-toggle="tab">Reporting a Bug</a></li>

          </ul>
        </div>

        <div class="col-md-8">
          <!-- Tab panes -->
            <div class="tab-content rightPanel_resources">
                <div class="tab-pane active" id="announcements-v">
                       
                      <h2 class="rightpanel-header">ANNOUNCEMENTS</h2>
                      <hr>
                      <span class="badge badge-light">4 January 2019</span> 
                        <ul>
                        <li class="panel-question">What's on the platform</li>
                            <li class="panel-answer"> <i class="fas fa-caret-right"></i>&emsp;Quixxi Connect is crypto platform which allows users to transfer Ethereum and other ERC20 tokens </li>
                            <li class="panel-answer"> <i class="fas fa-caret-right"></i>&emsp;It also Allows users to send crypto using their Gmail addresses  </li>
                            <li class="panel-answer"> <i class="fas fa-caret-right"></i>&emsp;As soon as you sign up, we create your wallet and you can customize it according to your wish </li>
                            <li class="panel-answer"> <i class="fas fa-caret-right"></i>&emsp;Dashboard allows you to keep a track of your wallet. It also displays the list of all the transactions.</li>
                            <li class="panel-answer"> <i class="fas fa-caret-right"></i>&emsp;My Wallet shows the credit available in your wallet.</li>
                            <li class="panel-answer"> <i class="fas fa-caret-right"></i>&emsp;Settings, allows users to create a backup of their private key and provides other services </li>
                            <li class="panel-answer"> <i class="fas fa-caret-right"></i>&emsp;Search, allows users to search other users available on the platform </li>
                               
                          </ul>   

                </div>
                
                <div class="tab-pane" id="fixedIssues-v">
                    <h2 class="rightpanel-header">FIXED ISSUES</h2>
                    <hr>
                    <!-- <span class="badge badge-light">20 December 2018</span>  -->
                            <p class="panel-question">No problems reported </p>
                            <p class="panel-answer"> 
                </div>
                    
                <div class="tab-pane" id="newFeatures-v">
                    <h2 class="rightpanel-header">NEW FEATURES</h2>
                    <hr>
                    
                            <p class="panel-question">Marketplace</p>
                            <p class="panel-question">Services</p>
                            

                            
                </div>

                <div class="tab-pane" id="releasedVersions-v">
                    <h2 class="rightpanel-header">RELEASED VERSIONS</h2>
                    <hr>
                    
                        <p class="panel-question">Version 1.0.0</p>
                        <p class="panel-answer">This is the first version of Quixxi Connect</p>
                        
                </div>

                <div class="tab-pane" id="knownIssues-v">
                    <h2 class="rightpanel-header">KNOWN ISSUES</h2>
                    <hr>
                          <p class="panel-question">As of Now the platform has no known Issues</p>
                          <p class="panel-answer"></p>
                          
                </div>

                <div class="tab-pane" id="securityAudits-v">
                    <h2 class="rightpanel-header">SECURITY AUDITS </h2>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                         <ul class="security-audit"> 
                            <li class="panel-question security-audit"> Version Name and Number </li>
                          
                            <li class="panel-question security-audit" > Module</li>  
                            <div class="col-9" style="padding:0px;">
                            <li class="panel-question security-audit sub-category"> Login Page</li>
                            <li class="panel-question security-audit sub-category"> Google Drive Permission Wallet</li>
                            <li class="panel-question security-audit sub-category"> Wallet</li>
                            <li class="panel-question security-audit sub-category"> Transaction Signing</li>
                            <li class="panel-question security-audit sub-category"> Payments</li>
                            <li class="panel-question security-audit sub-category"> Gift Tokens</li>
                            <li class="panel-question security-audit sub-category"> Transactions</li>
                            </div>
                            
                            
                          </ul>
                        </div>

                        <div class="col-6" style="    padding-top: 9px;">
                          <ul class="security-audit"> 
                            <li class="panel-answer "> Ophir & 1.0 Build 1.100.100

                                Date: 21 Dec 2018 </li> 
                                
                                <li class="panel-answer security-audit" style="">Remarks</li>
                                <div class="col-8" style="padding:0px;">
                                       <li class="panel-answer security-audit sub-category">Tested</li> 
                                <li class="panel-answer security-audit sub-category">Tested</li>  
                                <li class="panel-answer security-audit sub-category">Tested</li> 
                                <li class="panel-answer security-audit sub-category">Tested</li> 
                                <li class="panel-answer security-audit sub-category">Tested</li>
                                <li class="panel-answer security-audit sub-category">Tested</li>
                                <li class="panel-answer security-audit sub-category">Tested</li>
                                
                                </div>
                            

                          </ul>
                        </div>
                      </div>
                      
                      
                </div>

                <!-- <div class="tab-pane" id="authoringGuidelines-v">
                  <p class="panel-question">   How do I send funds? </p>
                  <p class="panel-answer">     Users need to login 
                </div> -->
              
                <div class="tab-pane" id="reportingBug-v">
                    <h2 class="rightpanel-header">REPORTING A BUG</h2>
                    <hr>
                   
                  <p class="panel-question">Reporting a bug</p>
                  <p class="panel-answer">Users can easily report a bug to Quixxi Connect Team by using the link at the bottom right corner. 
                    <br>
                    Users need to fill in their Name and email id, and provide their feedback to the us.  
                </div>
            
          </div>
        </div>



</div>


</div>

