.container {
    width: 100%;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}

.banner{
    width: 100%;
    text-align: center;
    height:  239px;
    background: #334194;
    
    
}

.banner-heading{
    padding-top: 30px;
    font-size: 22px;
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
}
.search{
    padding-top: 15px;
    
}
.banner-text{
    
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
}

.search-bar{
    width: 691px;
    background-color: #101f78;
    border-radius: 29.5px;
    height: 59px;
    color: #ccd3ff;
    letter-spacing: 0.3px; 
    margin: 0 auto;
}

.input-search{
    padding-top: 17px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ccd3ff; 
    float: left;
    width: 80%;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
}

.fa-search{
    color: #ffffff;
    float: right;
    line-height: 60px;
    padding-right: 30px; 
}
/*body-area*/

.body-area{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px 0px 10px 50px;
     
    background: #eceff2;
}


.leftPanel{
    flex: 25%;
    padding-left: 70px; 
}
.leftPanel li{
    line-height: 2.5;
}

.list-header{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #334194;
}

.list-points{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: #334194;
}
.rightPanel_resources{
    padding-top: 10px;
    flex:75%;
    padding-right: 70px; 
    text-align: left;
}


.panel-question{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #334194;
    list-style: none;
}

.panel-answer{
    font-family:'Nunito Sans', sans-serif; 
    font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  color: #8e8e8e;
 list-style: none;
}

.rightpanel-header{
  font-family:  'Nunito Sans', sans-serif; 
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #334194;
  
}

.badge-light {
    color: #212529;
    font-size: 12px;
    color: #334194;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #e0ecff;
}
.badge {
    display: inline-block;
    padding: 8px 8px;
    font-size: 75%;
    font-weight: 0px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    margin-bottom: 15px;
}

input {
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
  input:focus{
    outline: 0;
  }
  .input-placeholder{
    background-color: #eee;
    display: inline-block;
    padding: 10px;
  }


  /* New style */

  .sideways{
      display: block;  
    }

    .content-heading{
        font-family: 'Nunito Sans', sans-serif; 
        font-size: 18px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #334194;
    }

    .tab-pane{
        margin-right: 70px;
    }

     li.link-tabs a.list-points.active.show, li.link-tabs a:hover
         { 
            color:#3490ce;
            text-decoration: none;
          }

          .security-audit{
              line-height: 2.5;
              font-size: 18px !important;
          }

          .disable{
            pointer-events: none;
          }

          .sub-category{
              font-size: 14px !important;
          }
          
    

