<div class="container">
    <div class="banner ">
       <h1 class="banner-heading ">FAQ</h1>
       <p class="banner-text ">Advice and answers from the Quixxi Connect Team.</p>
        

        <div class="search">
            <form class="search-bar" >
                <input type="text" class="input-search" placeholder="Search for your question..."/>
               <span> <a href=""><i class="fas fa-search"></i> </a> </span>
            </form>
        </div>

    </div>

    <!-- <div class="body-area">
    
        <div class="leftPanel">
            <ul style="list-style:none;">
                <li class="list-header active">
                    Categories
                </li>
                <br>
                <li class="list-points" rel="tab1">
                   <a href="#resources">Resources</a> 
                </li>
                <li class="list-points" rel="tab2">
                   <a href="#quixxiplatform">Quixxi Platform</a> 
                </li>
                <li class="list-points" rel="tab3">
                <a href="#wallet">Wallet</a>  
                </li>
            </ul>
        </div>

        <div class="rightPanel_resources" id="tab_content">
            <p class="panel-question">What is bitcoin?</p>
           <p class="panel-answer"> Bitcoin is a consensus network that enables a new payment system using digital money. It is the first decentralized peer-to-peer payment network that is powered by its users with no central authority or middlemen. From a user perspective, bitcoin is pretty much like cash for the Internet. </p>

          <p class="panel-question">What is block chain technology?</p> 
           <p class="panel-answer">The block chain is a uniquely architected database for digital transactions. To break it down— a block contains a record of new transactions and once that block is full, it is added to a chain of other blocks of transactions; hence the name “block chain”. This information is publicly viewable on an explorer, where eventually each transaction is approved or rejected by a network of computers (called miners). The block chain is considered immutable (meaning unchanging) because in order to alter a block, all previous blocks would have to also be altered. The vast majority of the community would have to agree on the change and be willing to update all subsequent blocks.</p> 

           <p class="panel-question">What is Ethereum ?</p> 
           <p class="panel-answer"> 
            Ethereum is an open-source, public, blockchain-based distributed computing platform and operating system featuring smart contract (scripting) functionality. It supports a modified version of Nakamoto consensus via transaction-based state transitions. </p>

            <p class="panel-question">What is ether?</p> 
           <p class="panel-answer"> 
            Ether is a decentralized digital currency, also known as ETH. In addition to being a tradeable cryptocurrency, ether powers the Ethereum network by paying for transaction fees and computational services. Ether is paving the way for a more intelligent financial platform. </p>

            <p class="panel-question">What are ERC20 tokens?</p> 
            <p class="panel-answer"> 
            
            ERC-20 protocol is a standardized way of creating new tokens on the Ethereum block chain.</p>

        </div>

        <div class="rightPanel_quixxiplatform" id="tab_content">
                <p class="panel-question">How long does it take for Quixxiconnect to send my ethereum/cryptocurrency once I’ve paid? </p>
                <p class="panel-answer">Quixxi is first supporting ethereum and thus digital assets are sent after 14 seconds to the user’s wallet.</p>
                
                <p class="panel-question">  How is QuixxiConnect different from other crypto platforms?</p>
                <p class="panel-answer">  Quixxiconnect provides its users to use their email address to send and receive crypto as well as by using the hash address allowing them to easily send/receive crypto currencies. All they have to do is to enter the email address of the user.</p>
                
                <p class="panel-question">   Can I use a credit card to buy digital currencies?</p>
                <p class="panel-answer">   Yes, you can purchase digital currency with any credit/debit you own as long as it’s a Visa or MasterCard. In the future, users will be able to buy crypto through our platform integration with partnering exchanges.</p>
                
                <p class="panel-question">   Where can I get a Bitcoin/Ethereum wallet?</p>
                <p class="panel-answer">   Quixxi allows all its users to easily setup their wallet on Ethereum which will be linked to their Gmail address. As soon as a user joins the Quixxi platform, it automatically creates a wallet for the user so that the user doesn’t need to worry about maintaining their wallet.</p>
                
                <p class="panel-question">  How can I prove that the coins were sent to my chosen wallet?</p>
                <p class="panel-answer">  By checking https://etherscan.io/ you will be able to see the records of the coins that were sent to or from your address.
                
                <p class="panel-question"> Are my credit card details saved in your system? </p>
                <p class="panel-answer">  No, your credit/debit card details are not saved in our system. </p>
                
                <p class="panel-question"> I forgot my password. What can you do to help? </p>
                <p class="panel-answer">    As Quixxi uses Google login feature, in case if the user forgets the password. The user needs to recover the password from their Gmail account recovery process. Quixxi doesn’t store the user password. 
                Quixxi also uses Google drive to store the private key of the user on their google drive so that they can create a backup of their private key.
                To ensure the security of the user’s private key, the data which is stored on the drive is also encrypted. </p>
                
        </div>

        <div class="rightPanel_wallet" id="tab_content">

        </div>
    
    </div> -->

   
    <div  class=" body-area">
            <div class="col-md-3 leftPanel"> <!-- required for floating -->
              <!-- Nav tabs -->
              <ul class="nav nav-tabs tabs-left sideways">
                  <li class="content-heading">Categories</li>
                <li class=" link-tabs "><a class="active list-points" href="#resources-v" data-toggle="tab">Resources</a></li>
                <li class="link-tabs"><a class="list-points" href="#quixxiplatform-v" data-toggle="tab">Quixxi Platform</a></li>
                <li class="link-tabs"><a class="list-points" href="#wallet-v" data-toggle="tab">Wallet</a></li>
               
              </ul>
            </div>
    
            <div class="col-md-8">
              <!-- Tab panes -->
              <div class="tab-content rightPanel_resources">
                <div class="tab-pane active" id="resources-v">
                        
                    <p class="panel-question">What is bitcoin?</p>
                        <p class="panel-answer"> Bitcoin is a consensus network that enables a new payment system using digital money. It is the first decentralized peer-to-peer payment network that is powered by its users with no central authority or middlemen. From a user perspective, bitcoin is pretty much like cash for the Internet. </p>
             
                       <p class="panel-question">What is block chain technology?</p> 
                        <p class="panel-answer">The block chain is a uniquely architected database for digital transactions. To break it down— a block contains a record of new transactions and once that block is full, it is added to a chain of other blocks of transactions; hence the name “block chain”. This information is publicly viewable on an explorer, where eventually each transaction is approved or rejected by a network of computers (called miners). The block chain is considered immutable (meaning unchanging) because in order to alter a block, all previous blocks would have to also be altered. The vast majority of the community would have to agree on the change and be willing to update all subsequent blocks.</p> 
             
                        <p class="panel-question">What is Ethereum ?</p> 
                        <p class="panel-answer"> 
                         Ethereum is an open-source, public, blockchain-based distributed computing platform and operating system featuring smart contract (scripting) functionality. It supports a modified version of Nakamoto consensus via transaction-based state transitions. </p>
             
                         <p class="panel-question">What is ether?</p> 
                        <p class="panel-answer"> 
                         Ether is a decentralized digital currency, also known as ETH. In addition to being a tradeable cryptocurrency, ether powers the Ethereum network by paying for transaction fees and computational services. Ether is paving the way for a more intelligent financial platform. </p>
             
                         <p class="panel-question">What are ERC20 tokens?</p> 
                         <p class="panel-answer"> 
                         
                         ERC-20 protocol is a standardized way of creating new tokens on the Ethereum block chain.</p>


                </div>
                <div class="tab-pane" id="quixxiplatform-v">
                        <p class="panel-question">How long does it take for Quixxiconnect to send my ethereum/cryptocurrency once I’ve paid? </p>
                        <p class="panel-answer">Quixxi is first supporting ethereum and thus digital assets are sent after 14 seconds to the user’s wallet.</p>
                        
                        <p class="panel-question">  How is QuixxiConnect different from other crypto platforms?</p>
                        <p class="panel-answer">  Quixxiconnect provides its users to use their email address to send and receive crypto as well as by using the hash address allowing them to easily send/receive crypto currencies. All they have to do is to enter the email address of the user.</p>
                        
                        <p class="panel-question">   Can I use a credit card to buy digital currencies?</p>
                        <p class="panel-answer">   Yes, you can purchase digital currency with any credit/debit you own as long as it’s a Visa or MasterCard. In the future, users will be able to buy crypto through our platform integration with partnering exchanges.</p>
                        
                        <p class="panel-question">   Where can I get a Bitcoin/Ethereum wallet?</p>
                        <p class="panel-answer">   Quixxi allows all its users to easily setup their wallet on Ethereum which will be linked to their Gmail address. As soon as a user joins the Quixxi platform, it automatically creates a wallet for the user so that the user doesn’t need to worry about maintaining their wallet.</p>
                        
                        <p class="panel-question">  How can I prove that the coins were sent to my chosen wallet?</p>
                        <p class="panel-answer">  By checking https://etherscan.io/ you will be able to see the records of the coins that were sent to or from your address.
                        
                        <p class="panel-question"> Are my credit card details saved in your system? </p>
                        <p class="panel-answer">  No, your credit/debit card details are not saved in our system. </p>
                        
                        <p class="panel-question"> I forgot my password. What can you do to help? </p>
                        <p class="panel-answer">    As Quixxi uses Google login feature, in case if the user forgets the password. The user needs to recover the password from their Gmail account recovery process. Quixxi doesn’t store the user password. 
                        Quixxi also uses Google drive to store the private key of the user on their google drive so that they can create a backup of their private key.
                        To ensure the security of the user’s private key, the data which is stored on the drive is also encrypted. </p>
                </div>
                <div class="tab-pane" id="wallet-v">
                        <p class="panel-question">   How do I send funds? </p>
                        <p class="panel-answer">     Users need to login to the platform with their credentials and navigate to dashboard, users can enter the hash address or Gmail address of the user whom they want to send the crypto currencies. 
                        User needs to enter the amount of crypto and finally click on send.</p>
                        
                        <p class="panel-question">   What is the minimum amount I can send? </p>
                        <p class="panel-answer">   No, we do not have any minimum limit set for the transactions, we follow the guidelines made by Ethereum. </p>
                        
                                <p class="panel-question"> Can my transaction be cancelled or reversed?
                        <p class="panel-answer">   No, it is not possible to cancel or reverse any transaction which is completed. </p>
                        
                                <p class="panel-question">  Can Quixxiconnect see or access my funds? </p>
                        <p class="panel-answer">  We are a noncustodial wallet and therefore do not have access to your funds. This means we cannot view your balances, make payments on your behalf, or prevent you from accessing your funds. With your Quixxi wallet, you retain complete ownership of your finances. </p>
                        
                </div>
                
              </div>
            </div>
    
    
    
    </div>

    
          
           


    
</div>