.container {
    width: 100%;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}

.banner{
    width: 100%;
    text-align: center;
    height:  239px;
    background: #334194;
    
    
}

.banner-heading{
    padding-top: 40px;
    font-size: 22px;
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
}
.search{
    padding-top: 15px;
    
}
.banner-text{
    
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
}

.search-bar{
    width: 691px;
    background-color: #101f78;
    border-radius: 29.5px;
    height: 59px;
    color: #ccd3ff;
    letter-spacing: 0.3px; 
    margin: 0 auto;
}

.input-search{
    padding-top: 17px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ccd3ff; 
    float: left;
    width: 80%;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
}

.fa-search{
    color: #ffffff;
    float: right;
    line-height: 60px;
    padding-right: 30px; 
}
/*body-area*/

.body-area{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px 0px 10px 50px;
    background: #eceff2;
    height: auto;
    overflow: auto;
    margin-bottom: 80px;
}


.leftPanel{
    flex: 25%;
    padding-left: 70px; 
}
.leftPanel li{
    line-height: 2.5;
}

.toggle-bar{
    display: none;
}

.list-points{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: #334194;
}
.rightPanel_resources{
    padding-top: 10px;
    flex:75%;
    padding-right: 70px; 
    text-align: left;
    overflow: auto;
}


input {
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
  input:focus{
    outline: 0;
  }
  .input-placeholder{
    background-color: #eee;
    display: inline-block;
    padding: 10px;
  }



  /* New style */

  .sideways{
      display: block; 
      border-radius: 5px; 
    }

    .link-tabs{
        padding: 5px 10px 5px 15px;
    }

    .content-heading{
        font-family: 'Nunito Sans', sans-serif; 
        font-size: 18px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #334194;
        padding: 15px 15px 10px 15px;
    }

    .tab-content{
        height: auto;
    }
    .nav-tabs{
        border: none;
        background: #ffffff !important;
        width:75%;
        margin: 10px 10px 10px 15px;
    }

    .tab-pane{
        margin-right: 70px;
    }

    li.link-tabs a.list-points.active.show, li.link-tabs a:hover
    { 
       color:#3490ce;
       text-decoration: none;
     }

     .active{
         color: #3490ce;
     }


   

     .panel-heading .accordion-toggle::after {
        /* symbol for "opening" panels */
        font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
        content: "-";    /* adjust as needed, taken from bootstrap.css */
        float: right;        /* adjust as needed */
        color: grey;  
        font-size:26px;       /* adjust as needed */
    }


    
    .panel-heading .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "+";    /* adjust as needed, taken from bootstrap.css */
    }


    .accordion-toggle{
    font-family: 'Nunito Sans', sans-serif; 
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #334194;
    text-decoration: none;
    }

    .panel-body{
  font-family: 'Nunito Sans', sans-serif; 
  font-size: 14px;
  text-align: left;
  color: #130303;
    }

  .left-panel li{
      line-height: 2.0;
  }

  .panel-default{
      margin-bottom: 10px;
  }


  .text-center{
    display: inline-block;
    margin-left: 127px;
    margin-top:28px;
    font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left; 
  }

  .link-tabs a.active::after{
    font-family: 'Font Awesome\ 5 Free';
    content: "\f0da";
    font-weight:900;
    float: right;
    padding-right: 10px;
    color: #334194;
}

/* Media Queries */

@media (max-width:1180px){
    .container{
        width: auto;
    }

    .banner{
        width: auto;
    }
    .banner-heading{
        width: auto;
    }
    .menu-button{
        background-color: #eceff2 !important;
        border: 1px solid lightgray;
        margin:5px 0px 0px 5px;
        display: inline-block;
        
    }
    .search{
        width: auto;
        margin: 0px 10px 0px 20px
    }

    .panel-title{
        margin: 0px;
    }

    .prefix{
        padding-top:3px;
        color: #130303;
    }

   
    .toggle-bar{
        display: block;
    }
    .search-bar{
        width: auto;
    }

    .input-search{
        width: auto;
    }

    .tab-content{
        margin: 0px;
        width: auto;
       
    }
    .clearfix{
        overflow: auto;
    }
    .body-area{
        width: auto;
        height: auto;
        padding:0px;
        
    }
    .banner-text{
        font-size: 14px;
        text-align: center;
    }

    .tabs-left{
        position: relative;
        display: inline;
    }
    .leftPanel{
        position: relative;
        display: inline;
    }

    .rightPanel_resources{
        width: auto;
        margin: 0px;
        padding-right: 0px;
    }
    .tab-content{
        width: auto;
        margin: 0px;

    }

    .tab-pane{
        width: auto;
        margin: 0px;
    }

    .leftPanel{
        display: none;
    }
    .col-md-3{
        padding-right: 0px !important;
    }
}