<div class="container">
  <div class="banner ">
     <h1 class="banner-heading ">Market</h1>
     <p class="banner-text ">
      Get instant access to reliable and affordable Services, Products & Digital Assets</p>
    
      <div class="upper-tabs">
          <form class="group-buttons" >
              <button type="button" class="custom-services-button" > <a href="/layout/market/services">SERVICES</a> </button>
              <button type="button" class="custom-products-button" > <a href="/products">PRODUCTS</a> </button>
              <button type="button" class="custom-digitalassets-button" ><a href="/digital-assets">DIGITAL ASSETS</a></button>
          </form>
      </div>
  </div>

  <div class="container body-area">
      <div class="my-market-section page-margin">
          <p class="body-heading">My Market</p>
          <div class="market-card card ">
              <br><br>
                <button type="button" onclick="" class="button-add-new"><span style=" color: #334194;">
                        <i class="fas fa-plus fa-2x"></i>
                      </span></button>
                <div class="container">
                  <p class="add-new-text">ADD NEW</p>
                </div>
              </div>

              
      </div>

      <div class="recent-services-section page-margin">
            <p class="body-heading">Recent Services</p>
            <div class="services-card card">
              <a routerLink="/layout/market/services/service-details">  <img src="../../../assets/4k-wallpaper-blur-chrome-1711392.jpg" style="border-radius:10px;" width="255px"
                  height="158px" alt=""> </a>
                  <div class="container">
                    <p class="product-header">Jewellery Items</p>
                    <p class="user-info">sanjay@gmail.com</p>
                    <p class="price-info">2 ETH</p>
                  </div>
                </div>

                <div class="services-card card">
                  <a routerLink="/layout/market/services/service-details">     <img src="../../../assets/boy-close-up-denim-jacket-1105058.jpg" style="border-radius:10px;" width="255px"
                        height="158px" alt=""> </a>
                        <div class="container">
                          <p class="product-header">Jewellery Items</p>
                          <p class="user-info">sanjay@gmail.com</p>
                          <p class="price-info">2 ETH</p>
                        </div>
                      </div>

                      <div class="services-card card">
                        <a routerLink="/layout/market/services/service-details">   <img src="../../../assets/black-and-white-close-up-engagement-17834.jpg" style="border-radius:10px;" width="255px"
                            height="158px" alt=""> </a>
                            <div class="container">
                              <p class="product-header">Jewellery Items</p>
                              <p class="user-info">sanjay@gmail.com</p>
                              <p class="price-info">2 ETH</p>
                            </div>
                          </div>
        </div>

        <div class="latest-product-section page-margin">
                <p class="body-heading">Latest Products</p>
                <div class="product-card card">
                  <a routerLink="/layout/market/services/service-details"> <img src="../../../assets/black-and-white-close-up-engagement-17834.jpg" style="border-radius:10px;" width="255px"
                        height="158px" alt=""></a>
                        <div class="container">
                          <p class="product-header">Jewellery Items</p>
                          <p class="user-info">sanjay@gmail.com</p>
                          <p class="price-info">2 ETH</p>
                        </div>
                      </div>

                      <div class="product-card card">
                        <a routerLink="/layout/market/services/service-details"> <img src="../../../assets/adult-beard-emotion-157966.jpg" style="border-radius:10px;" width="255px"
                            height="158px" alt=""> </a>
                            <div class="container">
                              <p class="product-header">Jewellery Items</p>
                              <p class="user-info">sanjay@gmail.com</p>
                              <p class="price-info">2 ETH</p>
                            </div>
                          </div> 
            </div>

            <div class="digital-assets-section page-margin">
                    <p class="body-heading">Top 4 Digital Assets</p>
                    <div class="digital-assets-card card">
                      <a routerLink="/layout/market/services/service-details">  <img src="../../../assets/adult-beard-emotion-157966.jpg" style="border-radius:10px;" width="255px"
                            height="158px" alt=""></a>
                            <div class="container">
                              <p class="product-header">Jewellery Items</p>
                              <p class="user-info">sanjay@gmail.com</p>
                              <p class="price-info">2 ETH</p>
                            </div>
                          </div> 

                          <div class="digital-assets-card card">
                            <a routerLink="/layout/market/services/service-details"> <img src="../../../assets/boy-close-up-denim-jacket-1105058.jpg" style="border-radius:10px;" width="255px"
                                height="158px" alt=""></a>
                                <div class="container">
                                  <p class="product-header">Jewellery Items</p>
                                  <p class="user-info">sanjay@gmail.com</p>
                                  <p class="price-info">2 ETH</p>
                                </div>
                              </div> 
                </div>

  </div>

  <div class="container">
        <p class="text-center">  
            <a  routerLink="/whatsNew">What's New</a> &emsp; <a  routerLink="/faq">FAQ</a> <a  href="https://quixxiconnect.com/privacy-policy/">Privacy Policy</a> <a  href="https://quixxiconnect.com/terms-and-conditions/">Terms and Conditions</a> 
        </p>
        <hr  style="margin: 0px 127px; border-top: #dfe1e3  dotted 1px;" /> 
        </div>   
  </div>

  
  