<div class="container">
  <div class="banner ">
     <h1 class="banner-heading ">Market</h1>
     <p class="banner-text ">
      Get instant access to reliable and affordable Services, Products & Digital Assets</p>
    
      <div class="upper-tabs">
          <form class="group-buttons" >
              <button type="button" class="custom-services-button" selected> <a href="/layout/market/services">SERVICES</a> </button>
              <button type="button" class="custom-products-button" > <a href="/products">PRODUCTS</a> </button>
              <button type="button" class="custom-digitalassets-button" ><a href="/digital-assets">DIGITAL ASSETS</a></button>
          </form>
      </div>
  </div>

<div class="filter-services">
  <ul class="display-filter-services">
    <li class="filter-items"> <span style="color: #52555a;"><i class="fas fa-briefcase fa-3x"></i> </span> <p class="filter-text"> Business </p></li>
    <li class="filter-items"> <span style="color: #52555a;"><i class="fas fa-laptop fa-3x"></i> </span> <p class="filter-text"> Programming & Tech </p></li>
    <li class="filter-items"> <span style="color: #52555a;"><i class="fas fa-palette fa-3x"></i><i class="fas fa-briefcase fa-3x"></i> </span> <p class="filter-text"> Art & Design </p></li>
    <li class="filter-items"> <span style="color: #52555a;"><i class="far fa-user fa-3x"></i> </span> <p class="filter-text"> Handyman </p></li>
    <li class="filter-items"> <span style="color: #52555a;"><i class="fas fa-warehouse fa-3x"></i> </span> <p class="filter-text"> Cleaning</p></li>
    <li class="filter-items"> <span style="color: #52555a;
      "><i class="fas fa-hand-holding-heart fa-3x"></i><i class="fas fa-briefcase fa-2x"></i> </span> <p class="filter-text"> Others </p></li>
    
  </ul>
</div>

  <div class="container body-area">
      <div class="my-market-section page-margin">
          <p class="body-heading">My Market</p>
          <div class="market-card card ">
              <br><br>
                <button type="button" (click)="sidePan()" class="button-add-new"><span style=" color: #334194;">
                        <i class="fas fa-plus fa-2x"></i>
                      </span></button>
                      <div class="panel-wrap">
                          <div class="panel">
                            <h3>Yay! Panels!</h3>
                            <p>Distillery freegan bitters twee.  
                              Food truck dreamcatcher PBR&amp;B chillwave brunch.  
                              Fixie mustache umami Neutra dreamcatcher, 
                              Odd Future try-hard master cleanse pork belly iPhone Etsy.  
                              Disrupt kogi Echo Park, wolf DIY literally meditation 
                              skateboard gentrify photo booth Carles asymmetrical mumblecore.  
                              Fashion axe 3 wolf moon normcore scenester, 
                              bitters drinking vinegar banh mi keytar swag 8-bit.  
                              Tote bag heirloom pickled authentic mlkshk, scenester 
                              hoodie shabby chic Kickstarter tattooed church-key Helvetica Wes Anderson.</p>
                      
                          </div>
                        </div>
                <div class="container">
                  <p class="add-new-text">ADD NEW</p>
                </div>
              </div>

              
      </div>

      <div class="recent-services-section page-margin">
            <p class="body-heading">Services</p>
            <div class="services-card card">
                  <img src="../../../assets/4k-wallpaper-blur-chrome-1711392.jpg" style="border-radius:10px;" width="255px"
                  height="158px" alt="">
                  <div class="container">
                    <p class="product-header">Jewellery Items</p>
                    <p class="user-info">sanjay@gmail.com</p>
                    <p class="price-info">2 ETH</p>
                  </div>
                </div>

                <div class="services-card card">
                        <img src="../../../assets/boy-close-up-denim-jacket-1105058.jpg" style="border-radius:10px;" width="255px"
                        height="158px" alt="">
                        <div class="container">
                          <p class="product-header">Jewellery Items</p>
                          <p class="user-info">sanjay@gmail.com</p>
                          <p class="price-info">2 ETH</p>
                        </div>
                      </div>

                      <div class="services-card card">
                            <img src="../../../assets/black-and-white-close-up-engagement-17834.jpg" style="border-radius:10px;" width="255px"
                            height="158px" alt="">
                            <div class="container">
                              <p class="product-header">Jewellery Items</p>
                              <p class="user-info">sanjay@gmail.com</p>
                              <p class="price-info">2 ETH</p>
                            </div>
                          </div>

                          <div class="services-card card">
                            <img src="../../../assets/boy-close-up-denim-jacket-1105058.jpg" style="border-radius:10px;" width="255px"
                            height="158px" alt="">
                            <div class="container">
                              <p class="product-header">Jewellery Items</p>
                              <p class="user-info">sanjay@gmail.com</p>
                              <p class="price-info">2 ETH</p>
                            </div>
                          </div>

                          <div class="services-card card">
                            <img src="../../../assets/black-and-white-close-up-engagement-17834.jpg" style="border-radius:10px;" width="255px"
                            height="158px" alt="">
                            <div class="container">
                              <p class="product-header">Jewellery Items</p>
                              <p class="user-info">sanjay@gmail.com</p>
                              <p class="price-info">2 ETH</p>
                            </div>
                          </div>

                          <div class="services-card card">
                            <img src="../../../assets/4k-wallpaper-blur-chrome-1711392.jpg" style="border-radius:10px;" width="255px"
                            height="158px" alt="">
                            <div class="container">
                              <p class="product-header">Jewellery Items</p>
                              <p class="user-info">sanjay@gmail.com</p>
                              <p class="price-info">2 ETH</p>
                            </div>
                          </div>

                          <div class="services-card card">
                            <img src="../../../assets/black-and-white-close-up-engagement-17834.jpg" style="border-radius:10px;" width="255px"
                            height="158px" alt="">
                            <div class="container">
                              <p class="product-header">Jewellery Items</p>
                              <p class="user-info">sanjay@gmail.com</p>
                              <p class="price-info">2 ETH</p>
                            </div>
                          </div>

                          <div class="services-card card">
                            <img src="../../../assets/boy-close-up-denim-jacket-1105058.jpg" style="border-radius:10px;" width="255px"
                            height="158px" alt="">
                            <div class="container">
                              <p class="product-header">Jewellery Items</p>
                              <p class="user-info">sanjay@gmail.com</p>
                              <p class="price-info">2 ETH</p>
                            </div>
                          </div>

                          
                        
        
                        </div>

        

            

  </div>

  <div class="container">
        <p class="text-center">  
            <a  routerLink="/whatsNew">What's New</a> &emsp; <a  routerLink="/faq">FAQ</a> <a  href="https://quixxiconnect.com/privacy-policy/">Privacy Policy</a> <a  href="https://quixxiconnect.com/terms-and-conditions/">Terms and Conditions</a> 
        </p>
        <hr  style="margin: 0px 127px; border-top: #dfe1e3  dotted 1px;" /> 
        </div>   
  </div>

  
  